footer{
	background: #19191F;
	color: white;
	padding: 1rem;

	.infos li{
		list-style: none;
	}

	.reseaux li{
		display: inline-block;
		list-style: none;
	}

	.coordonnees{
		display: block;
		width: 50%;
		float: left;
	}

	.footer-logo{
		display: block;
		padding: 0 3rem 0 0;
	}

	.material-icons{
		border-radius: 50%;
		width: 2rem;
		height: 2rem;
		line-height: 1.4;
		text-align: center;
		color: white;
		background: #333333;
	}
}
