.container{
	padding: $page_padding;

	.gallery {
	
		li{
			list-style: none;
			margin-bottom: 1rem;
		}

		img{
			border: 3px solid #DDDDDD;
			border-radius: 4px;
			width: 100%;
		}
	}
}

.galerie {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
}

.galerie-item {
  margin-left: 1rem;
  margin-bottom: 1rem;

  img {
    width: 100%;
    height:auto;
  }
}

$max_columns: 9;

@for $i from 1 to $max_columns {
	.galerie-#{$i} > * {
		width:calc(100% / #{$i} - 1rem);
	}
}


