*, *:before, *:after {
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: white;
  margin: 0 auto;

  @include desktop {
    padding-left: 280px;
  }

}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  clear: both;
}

img {
  display: block;
}

ul {
  margin: 0;
  padding: 0;
}

.gotop {
  display: block;
  position: fixed;
  background: $vert2;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  bottom: 1rem;
  right: 1rem;
  z-index: 5;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  color: #fff;

  .material-icons {
    font-size: 40px;

  }
}

.gotop-visible {
  opacity: 1;
}

.pt {
  padding: $title_height 1rem 1rem 1rem;

}