.header-menu a, .header-contact a, h1, footer {
  font-family: 'Roboto', sans-serif;
}

.header {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 3;
  width: 280px;
  left: -280px;
  background-color: rgba(175, 202, 11, 1);
  transition: 0.3s;
  overflow-y: scroll;

  .header-inner {
    padding-bottom: 60px;
    position: relative;
  }

  .header-logo {
    display: block;
    padding: 1rem 3rem;
  }

  .header-menu {
    display: flex;
    flex-direction: column;

    a {
      color: #333333;
      padding: 1rem;
      text-transform: uppercase;
      transition:all .3s;
      &:hover {
        background-color: #fff;
        padding-left: 1.5rem;
      }
    }
  }

  .header-menu a, .header-contact a {
    text-decoration: none;
    list-style: none;
    font-weight: 600;
    color: black;
  }

  .header-contact{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    a {
      display: inline-block;
      text-align: center;

      .material-icons{
       color:#424242;
      }
    }
  }

  @include desktop {
    display: block;
    left: 0;
    overflow-y: inherit;
  }
}

.header-visible {
  left: 0;
  box-shadow: 1px 1px 10px grey;

  @include desktop {
    display: none;
  }
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.3s;

  @include desktop {
    display: none;
  }
}

.overlay-visible {
  display: block;

  @include desktop {
    display: none;
  }
}