.main{

	.burger{
		color:#fff;
		display: block;
		position: fixed;
		top: 6px;
		left: 6px;
		background: none;
		border: none;
		cursor: pointer;
		height: 48px;
		width: 48px;

		@include desktop{
			display: none;
		}
	}

	.title{
		background-color: rgba(33,150,243, 1);
		z-index: 2;
		position: fixed;
		width: 100%;
		height: $title_height;
		line-height: $title_height;

		h1{
			font-size: 18px;
			line-height: $title_height;
			color: white;
			padding: 0;
			padding-left: 60px;
			margin: 0;
		}

		@include desktop{
			position: static;
		}
	}

	.slider{
      padding-top:$title_height;

		@include desktop{
			padding-top: 0;
		}
	}

	.owl-prev, .owl-next{
		position: absolute;
		top: 50%;
		color: white;
		border-radius: 50%;
 		width: 1.5rem;
 		height: 1.5rem;
  		line-height: 1.5;
  		text-align: center;
    	color: #333333;
  		background: #DDDDDD;
	}

	.owl-prev{
		right: 0;
	}
}

